/* Responsiveness of text */
h1{
    text-align: center;
    /* font-size: 7vw; -> It is somewhat messy for very large and very small screens */
    font-size: clamp(2rem,8vw,5rem); /*syntax : (min_size,prefered_size,max_size)*/
}

/* Responsiveness of image */
img{
    width : 100%;
    max-width: 500px;
}

/* Responsiveness of layout */
@media screen and (max-width : 300px){
    body{
        background-color: green;
    }
} 
@media screen and (min-width : 301px){
    body{
        background-color: red;
    }
} 
@media screen and (max-width : 450px){
    body{
        background-color: blue;
    }
} 
@media screen and (min-width : 600px){
    body{
        background-color: pink;
    }
} 
