div,img{
    border-radius: 50px;
}
div{
    margin : 100px 500px;
    background-color: rgb(156, 150, 150);
    box-shadow: 3px 15px 20px rgb(100, 98, 98);
    text-align : center;
    position : relative;
    height : 550px;
    width : 500px;
}
img{
    width : 100px;
    height : 100px;
}
.github{
    position : absolute;
    top : -35px;
    right : -35px;
}
.whatsapp{
    margin-top : 100px;
}
p{
    padding : 20px 50px 70px 50px;
}
.linkedin{
    position : absolute;
    bottom : -50px;
}